<configuration scan="true" scanPeriod="5 seconds">
    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%5level]: %msg%n</pattern>
        </encoder>
    </appender>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>commandLog</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

    <logger name="at.yawk.mcpe.analyzer.EsilInterpreter" level="info"/>
    <logger name="at.yawk.mcpe.analyzer.RegexSimplifier" level="info"/>
    <logger name="at.yawk.mcpe.analyzer.GraphBuilder" level="trace"/>

    <root level="trace">
        <appender-ref ref="out"/>
    </root>
</configuration>
